/*------------*/

@font-face {
  font-family: 'Brighter Planet';
  src: url('fonts/KievitWebPro.eot');
  src: local('☺'), url("fonts/KievitWebPro.woff") format("woff"), url("fonts/KievitOT-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brighter Planet';
  src: url('fonts/KievitWebPro-Bold.eot');
  src: local('☺'), url("fonts/KievitWebPro-Bold.woff") format("woff"), url("fonts/KievitOT-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Brighter Planet';
  src: url('fonts/KievitWebPro-BoldIta.eot');
  src: local('☺'), url("fonts/KievitWebPro-BoldIta.woff") format("woff"), url("fonts/KievitOT-BoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Brighter Planet';
  src: url('fonts/KievitWebPro-Ita.eot');
  src: local('☺'), url("fonts/KievitWebPro-Ita.woff") format("woff"), url("fonts/KievitOT-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'DejaVu Mono';
  src: url('fonts/DejaVuSansMono.eot');
  src: local('☺'), url("fonts/DejaVuSansMono.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Mono';
  src: url('fonts/DejaVuSansMono-Oblique.eot');
  src: local('☺'), url("fonts/DejaVuSansMono-Oblique.ttf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

/* ---------- */

body {
  padding: 0;
  margin: 0;
  font-size: 13px;
  background: #3a5134;
}

body, input, select, button {
  font-family: "Brighter Planet", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ol, ul, li, dl, dt, dd {
  margin: 0;
  padding: 0;
}

pre, kbd {
  font-family: "DejaVu Mono", monospace;
}

#header {
  background: #ccdfc5 url(images/seal.png) no-repeat 15px -60px;
  padding: 30px 0 0;
  min-height: 80px;
}

#header h1 {
  display: none;
}

#header p {
  margin: 30px 0 0 240px;
  font-style: italic;
  font-size: 15px;
  color: #778276;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
}

#content {
  background: #ccdfc5;
  padding: 0 0 40px;
}

.bill {
  background: white;
  -moz-box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
  -webkit-box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
  box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
  padding: 15px;
  margin: 0 300px 0 30px;
}

.bill ol {
  list-style: none;
  margin: 40px 0 0;
  border-top: 4px solid black;
}

.bill ol li {
  padding: 10px 0;
  border-bottom: 1px solid black;
  min-height: 40px;
}

.bill ol li:last-child {
  border: none;
  padding-bottom: 0;
}

.bill ol li dl {
  overflow: auto;
}

.bill ol li dl dt, .bill ol li dl dd.url {
  display: none;
}

.bill ol li dl dd {
}

.bill ol li dl dd.date {
  float: left;
  width: 100px;
}

.bill ol li dl dd.description {
  text-transform: uppercase;
  margin: 0 100px;
}

.bill ol li dl dd.description h3 {
  font-size: inherit;
  font-weight: inherit;
}

.bill ol li dl dd.description p {
  margin: 0 0 0 20px;
}

.bill ol li dl dd.amount {
  float: right;
  width: 100px;
}

.bill ol li>a {
  position: absolute;
  right: 260px;
  background: #778276;
  width: 20px;
  display: block;
  padding: 10px;
  text-align: right;
  overflow: hidden;
  text-decoration: none;
  color: white;
}

.bill ol li>a span {
  display: none;
}

.bill ol li>a:hover {
  width: 80px;
  right: 200px;
}

.bill ol li>a:hover span {
  display: inline;
}

.bill ol li>iframe {
  position: absolute;
  right: 0;
  border: none;
  width: 300px;
  margin: -8px 0 0;
  height: 23px;
  background: transparent;
  overflow: hidden;
}

.bill ol li>p {
  position: absolute;
  right: 0;
  border: none;
  width: 290px;
  margin: 15px 0 0;
  font-size: 11px;
  color: gray;
}

.bill ol li>p a {
  color: inherit;
}

#footer {
  padding: 30px;
  -moz-box-shadow: inset 0 10px 20px rgba(0,0,0,0.4);
  color: #ccdfc5;
}

#footer h2 {
  text-shadow: -1px -1px 0 black;
  margin: 30px 0 5px;
}

#footer #kudos+h2 {
  margin-top: 0;
}

#footer #kudos {
  float: right;
  width: 255px;
  margin: 0 15px;
  color: #b1c3a9;
}

#footer #kudos a {
  color: #ccdfc5;
}

#footer>p {
  font-size: 15px;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.5);
  margin: 0 300px 0 0;
}
