<div id="header">
  <h1>Greenback</h1>
  <p>What if you could learn your carbon footprint just by looking at your bank statement?</p>
</div>
<div id="content">
  <div class="bill">
    <h2>Monthly statement for Acme Systems, Inc.</h2>
    <p class="timeframe">1 July 2010 &ndash; 1 August 2010</p>
    <ol>
      <li>
        <dl>
          <dt>Date</dt>
          <dd class="date">7/7/2010</dd>
          <dt>Amount</dt>
          <dd class="amount">$473.13</dd>
          <dt>Description</dt>
          <dd class="description">
            <h3>Delta Airlines</h3>
            <p>7/20/2010 MSN&ndash;LGA R/T DL0123 Economy</p>
          </dd>
          <dt>Estimate URL</dt>
          <dd class="url">http://carbon.brighterplanet.com/flights.txt?origin_airport[iata_code]=msn&amp;destination_airport[iata_code]=lga&amp;airline[iata_code]=DL&amp;trips=2&amp;emplanements_per_trip=1&amp;seat_class[name]=economy&amp;date=2010-08-10</dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>Date</dt>
          <dd class="date">7/11/2010</dd>
          <dt>Amount</dt>
          <dd class="amount">$129.97</dd>
          <dt>Description</dt>
          <dd class="description">
            <h3>Amtrak</h3>
            <p>7/22/2010 NYP&ndash;PHL</p>
          </dd>
          <dt>Estimate URL</dt>
          <dd class="url">http://carbon.brighterplanet.com/rail_trips.txt?rail_class[name]=intercity rail&amp;distance_estimate=146.5</dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>Date</dt>
          <dd class="date">7/19/2010</dd>
          <dt>Amount</dt>
          <dd class="amount">$33.75</dd>
          <dt>Description</dt>
          <dd class="description">
            <h3>Exxon-Mobil</h3>
            <p>Gasoline 11.9 gallons</p>
          </dd>
          <dt>Estimate URL</dt>
          <dd class="url">http://carbon.brighterplanet.com/fuel_purchases.txt?zip_code[name]=48915&amp;fuel_type[name]=Reformulated+Motor+Gasoline&amp;cost=33.75</dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>Date</dt>
          <dd class="date">7/23/2010</dd>
          <dt>Amount</dt>
          <dd class="amount">$85.22</dd>
          <dt>Description</dt>
          <dd class="description">
            <h3>Staples</h3>
            <p>Merchandise $76.70 Sales Tax $8.52</p>
          </dd>
          <dt>Estimate URL</dt>
          <dd class="url">http://carbon.brighterplanet.com/purchases.txt?date=2010-06-23&amp;merchant[name]=Staples&amp;merchant_category[mcc]=5111&amp;purchase_amount=85.22&amp;tax=7.75</dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>Date</dt>
          <dd class="date">7/27/2010</dd>
          <dt>Amount</dt>
          <dd class="amount">$374.13</dd>
          <dt>Description</dt>
          <dd class="description">Hilton</dd>
          <dt>Estimate URL</dt>
          <dd class="url">http://carbon.brighterplanet.com/purchases.txt?date=2010-08-06&amp;merchant[name]=Hilton&amp;merchant_category[mcc]=3504&amp;purchase_amount=374.13</dd>
        </dl>
      </li>
    </ol>
  </div>
</div>
<div id="footer">
  <div id="kudos">
    <p>Greenback was created by <%= link_to 'Brighter Planet', 'http://brighterplanet.com' %> and is powered by our <%= link_to 'Carbon Middleware', 'http://brighterplanet.com/middleware' %> platform. Developers can check out Greenback's <%= link_to 'source code', 'http://github.com/brighterplanet/greenbac' %> for details.</p>
  </div>
  <h2>What's going on here?</h2>
  <p>Greenback is a quick demonstration of Prism, Brighter Planet's new purchase footprint web service that uses a set of emissions models to analyze the carbon footprint of producing and using the goods and services you buy. This service helps you make informed decisions by illuminating the environmental cost of all your purchases, from flights and fuel to computers and consulting.</p>
  <h2>Where do these numbers come from?</h2>
  <p>Brighter Planet's carbon models pull energy use, emissions, and economic data from dozens of government, academic, and industry sources to estimate the climate impact of everyday purchases. We take great care to ensure our calculations employ the most authoritative, accurate, up-to-date data and methodologies available.</p>
  <h2>Can I get this with my current bank?</h2>
  <p>No. But we can certainly let you know when you can: shoot us an email at staff@brighterplanet.com.</p>
  <h2>I work for a financial institution. How can I learn more?</h2>
  <p>Contact us at staff@brighterplanet.com to find out how Brighter Planet can help your integrate efficient purchase footprinting into your existing systems.</p>
</div>

<script type="text/javascript">
var timer;

document.observe('dom:loaded', function() {
  $$('.bill ol li').each(function(purchase) {
    var url = purchase.down('dd.url').innerHTML.unescapeHTML();
    var link = new Element('a', { 'href': url }).update('<span>Calculate </span>CO₂');
    link.observe('click', function(ev) {
      ev.stop();
      showEstimate(purchase, link.getAttribute('href'));
    })
    purchase.insert({ 'top': link}); 
  });
});

function showEstimate(purchase, url) {
  purchase.down('a').hide();
  timer = new Date().getTime();
  var iframe = new Element('iframe', { 'src': url, 'allowtransparency': 'true', 'style': 'background: transparent;', 'frameborder': '0', 'scrolling': 'no', 'onload': 'stopTimer(this);' });
  purchase.insert({ 'top': iframe });
  var methodology = new Element('p');
  var methodologyLink = new Element('a', { 'href': url.gsub('.txt', '') }).update('Methodology');
  var methodologySpan = new Element('span');
  methodology.insert({ 'bottom': methodologySpan });
  methodology.insert({ 'bottom': methodologyLink });
  purchase.insert({ 'top': methodology });
}

function stopTimer(iframe) {
  var end = new Date().getTime();
  var seconds = (end - timer) / 1000;
  iframe.up('li').down('p span').update('Calculated remotely in ' + seconds + ' seconds. ');
}
</script>
