<!DOCTYPE html>
<html>
<head>
  <title>Greenbac</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag :defaults, 'jsonp' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
